<th:block th:insert="~{/shared/_header.html}"></th:block>

<div class="container">
    <h3>Welcome to Books page</h3>
    <hr/>
    <p>ISBN: <b th:text="${book.isbn}"></b></p>
    <p>Title: <b th:text="${book.title}"></b></p>
    <p>Author: <b th:text="${book.author}"></b></p>
    <p>Year Published: <b th:text="${book.yearPublished}"></b></p>
    <p>Price: <b th:text="${book.price}"></b></p>

    <hr/>
    <div th:object="${book}">
        <p>ISBN: <b th:text="*{isbn}"></b></p>
        <p>Title: <b th:text="*{title}"></b></p>
        <p>Author: <b th:text="*{author}"></b></p>
        <p>Year Published: <b th:text="*{yearPublished}"></b></p>
        <p>Price: <b th:text="*{price}"></b></p>
    </div>

</div>

<th:block th:insert="~{/shared/_footer.html}"></th:block>






